block vars

- sectionsDir = "/sections/";
- sectionsTab = ["connect", "timeline", "hobbies", "skills"];

doctype html
html(lang="en")

	head
		meta(http-equiv="content-type", content="text/html; charset=utf-8")
		title #{title}
		link(rel="icon", type="image/png", href="/img/running.png")
		link(href='http://fonts.googleapis.com/css?family=Wire+One', rel='stylesheet', type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Raleway', rel='stylesheet' type='text/css')
		link(href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow', rel='stylesheet', type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Dancing+Script:700', rel='stylesheet', type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Arvo', rel='stylesheet', type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Bree+Serif', rel='stylesheet', type='text/css')
		link(rel="stylesheet", href='/css/page.css')
		link(rel="stylesheet", href='/css/details.css')
		link(rel="stylesheet", href='/css/bootstrap.min.css')
		- for (var i = 0; sectionsTab[i]; i++)
			link(rel="stylesheet", href= "#{sectionsDir}" + "#{sectionsTab[i]}" + '/style-' + "#{sectionsTab[i]}" + ".css")

		
		body
			block content

			footer#footer
				svg(xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", viewBox="0 0 1000 20", preserveAspectRatio="none", width="100%", height="100%")
					polygon(points="0,0 1000,0 650,8", style="fill:#fff;")

				a(id="cont-me", href="#my-name")
					li(data-sr= "over 2.4s")= 'Contact me'


			script(src= "/jquery-2.1.4.min.js")
			script.
				$('a[href^="#"]').click(function(){
					var the_id = $(this).attr("href");

					$('html, body').animate({
						scrollTop:$(the_id).offset().top
						}, 'slow');
					return false;
					});
			script(src= "/jquery.sticky.js")
			script.
				$(document).ready(function(){
					$("#menu").sticky({topSpacing:0});
				});
				$('#menu').on('sticky-start', function() {
					$(this).css("background", "white");
					$(this).css("box-shadow", "0 1px 10px");
					$(this).find("a").each( function () {
						$(this).css("color", "#000");
						$(this).hover( function() {
							$(this).css("background", "rgba(0, 0, 0, 0.9)");
							$(this).css("color", "rgba(255, 255, 255, 1)");
						}, function() {
							$(this).css("background", "transparent");
							$(this).css("color", "#000");
						});
					});
					$(this).find("span").each( function () {
						$(this).html("Curriculum vitae");
						$(this).css("color", "#000");
					});
				});

				$('#menu').on('sticky-end', function() {
					$(this).css("background", "transparent");
					$(this).css("box-shadow", "0px 0px 0px");
					$(this).find("span").html("Curriculum vitae");
					$(this).find("span").css("color", "rgba(255, 255, 255, 0.3");
					$(this).find("a").each( function () {
						$(this).css("color", "rgba(255, 255, 255, 0.9)");
						$(this).hover( function() {
							//- $(this).css("color", "rgba(255, 255, 255, 0.9)");
							$(this).css("background", "rgba(255, 255, 255, 0.1)");
						}, function() {
							$(this).css("color", "rgba(255, 255, 255, 0.9)");
							$(this).css("background", "transparent");
						});
					});
				});

			script(src= "/citations/citation.js")
			- for (var i = 0; sectionsTab[i]; i++)
				script(src= "#{sectionsDir}" + "#{sectionsTab[i]}" + '/' + "#{sectionsTab[i]}" + '.js')

			script connect();
			script timeline();
			script hobbies();
			script skills();
			script citation('"Slow and methodical testing like this will eventually get you to a point where you will either be able to spot the bug, or go quietly insane. Maybe both."', "s-connect");
			script citation('"Computers are like Old Testament gods - lots of rules and no mercy."', "s-hobbies");
			script.
				$("#a-connect").attr("href", "#my-name");

			script(src= "/scrollReveal.min.js")
			script.
				var config = {
					reset:  true,
				}
				window.sr = new scrollReveal(config);