block vars

- sectionsDir = "/sections/";
- sectionsTab = ["connect", "timeline", "hobbies", "skills"];

doctype html
html(lang="en")

	head
		meta(http-equiv="content-type", content="text/html; charset=utf-8")
		title #{title}
		link(rel="icon", type="image/png", href="/img/running.png")
		link(href='http://fonts.googleapis.com/css?family=Wire+One', rel='stylesheet', type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Raleway', rel='stylesheet' type='text/css')
		link(href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow', rel='stylesheet', type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Dancing+Script:700', rel='stylesheet', type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Arvo', rel='stylesheet', type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Bree+Serif', rel='stylesheet', type='text/css')
		link(rel="stylesheet", href='/css/page.css')
		link(rel="stylesheet", href='/css/details.css')
		link(rel="stylesheet", href='/css/bootstrap.min.css')
		- for (var i = 0; sectionsTab[i]; i++)
			link(rel="stylesheet", href= "#{sectionsDir}" + "#{sectionsTab[i]}" + '/style-' + "#{sectionsTab[i]}" + ".css")

		
		body
			block content

			footer#footer
				svg(xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", viewBox="0 0 1000 20", preserveAspectRatio="none", width="100%", height="100%")
					polygon(points="0,0 1000,0 650,8", style="fill:#fff;")

				a(id="cont-me", href="#my-name")
					li= 'Contact me'

			//- .fade-in.
			//- 	test1

			//- .fade-in-left.
			//- 	test2

			//- .fade-in.
			//- 	test3

			script(src= "/jquery-2.1.4.min.js")
			script(src= "/citations/citation.js")
			- for (var i = 0; sectionsTab[i]; i++)
				script(src= "#{sectionsDir}" + "#{sectionsTab[i]}" + '/' + "#{sectionsTab[i]}" + '.js')

			script connect();
			script timeline();
			script hobbies();
			script skills();
			script citation('"Slow and methodical testing like this will eventually get you to a point where you will either be able to spot the bug, or go quietly insane. Maybe both."', "s-connect");
			script citation('"Computers are like Old Testament gods - lots of rules and no mercy."', "s-hobbies");

			script.
				$("#a-connect").attr("href", "#my-name");

			script(src= "/effect.js")

